@import "tailwindcss";

@plugin "daisyui" {
  themes: wculight --default, wcudark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "wculight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f7f9fc;
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: #232323;
  --color-primary: #ff9f48;
  --color-primary-content: #232323;
  --color-secondary: #04334f;
  --color-secondary-content: #f7f9fc;
  --color-accent: #ef2525;
  --color-accent-content: oklch(27% 0.077 45.635);
  --color-neutral: #232323;
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: #38bdf8;
  --color-info-content: #232323;
  --color-success: #22c55e;
  --color-success-content: #232323;
  --color-warning: #facc15;
  --color-warning-content: #232323;
  --color-error: #ef2525;
  --color-error-content: #f7f9fc;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "wcudark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #090909;
  --color-base-200: #151515;
  --color-base-300: #232323;
  --color-base-content: #E5E7EB;
  --color-primary: #ff9f48;
  --color-primary-content: #232323;
  --color-secondary: #38bdf8;
  --color-secondary-content: #232323;
  --color-accent: #ff6b6b;
  --color-accent-content: #232323;
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: #E5E7EB;
  --color-info: #7dd3fc;
  --color-info-content: #232323;
  --color-success: #4ade80;
  --color-success-content: #232323;
  --color-warning: #facc15;
  --color-warning-content: #232323;
  --color-error: #f87171;
  --color-error-content: #232323;
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "@tailwindcss/typography";